@import "../theme/base_variables.scss";

.toolbar-background {
  //background: #481676;
  background: $base-color;
}

.toolbar-title {
  color: #FFFFFF;
}

.bar-button-default-md {
  color: #FFFFFF;
}

.toolbar-md-secondary .toolbar-background-md {
  background: $complementary-color;
}