@import "../theme/base_variables.scss";

.toolbar-background {
  //background: #481676;
  background: $base-color;
}

.toolbar-title {
  color: #FFFFFF;
}

ion-buttons .bar-button-default-md {
  color: #FFFFFF;
}